cache=C:\Users\Administrator\Documents\Codex\2026-06-24\dbonline666-dbonline-app-https-github-com-2\.npm-cache
tmp=C:\Users\Administrator\Documents\Codex\2026-06-24\dbonline666-dbonline-app-https-github-com-2\work\npm-tmp
script-shell=C:\Windows\System32\cmd.exe
